.footer {
    margin-top: 15px;
    padding: 20px;
    background-color: black;
    opacity: 0.7;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer a:hover {
    color: yellow;
    transition: 1s;
}